body{
    font-family: "spinnaker", sans-serif;
    text-align: center;
    margin: 0px;
    
}

.hero {
    background-image: url("port.jpg");
    height: 700px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #cab5a4;
} 

.hero-titles {
    width:450px;
    height:150px;
    background-color: #02282ca1;
    border-radius: 10px;
}
    
.hero-title {
    font-size: 40px;
}

.hero-subtitle {
    font-size: 18px;
}

.activities {
    height: 700px;
    background-color: #D1B79B;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


.top3 {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.activity1, .activity2, .activity3 {
    width: 400px;
    margin-bottom: auto;
}

.top3 {
    margin-top: 60px;
}

#photo {
    width: 200px;
    height: 200px;
    border: 5px solid #075F59;
    border-radius:100px;
    margin-bottom: 30px;
}

.text {
    font-size: 15px;
    line-height: 1.5;
}

.guide_card {
    height: 500px;
    /* background-color: #73AADE; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#guider {
    width:230x;
    height: 200px;
    border: 5px solid #075F59;
    border-radius: 10px;
    
}

.guide_wrapper {
    height:270px;
    width:550px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #73AADE;
    border-radius: 20px;
    border-bottom: 7px solid #D1B79B;

    
}

.guide_text {
    padding: 30px;
}